<!doctype html>
<html>
<head>
  <title>Consulta 1</title>
</head>
<body>
  {% extends 'base.html' %}

  {% block content %}
  <h2>Consulta 1: Productos Más Vendidos</h2>
  <h1>Resultados de la Consulta 1</h1>
  <table>
    <tr>
      <th>Código</th>
      <th>Cantidad</th>
      <!-- Otros encabezados de columna según tus datos -->
    </tr>
    {% for fila in resultados %}
      <tr>
        <td>{{ fila[0] }}</td>
        <td>{{ fila[1] }}</td>
        <!-- Otros datos de fila según tus datos -->
      </tr>
    {% endfor %}
  </table>

  {% endblock %}
  

</body>
</html>
