<!doctype html>
<html>
<head>
  <title>Consulta 2</title>
</head>
<body>
  {% extends 'base.html' %}

  {% block content %}
  <h2>Consulta 2: Rentabilidad de Productos</h2>
  <h1>Resultados de la Consulta 2</h1>
  <table>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>CostoTotal</th>
      <th>Ventas</th>
      <th>IngresoTotal</th>
      <th>GananciaNeta</th>
      <!-- Otros encabezados de columna según tus datos -->
    </tr>
    {% for fila in resultados %}
      <tr>
        <td>{{ fila[0] }}</td>
        <td>{{ fila[1] }}</td>
        <td>{{ fila[2] }}</td>
        <td>{{ fila[3] }}</td>
        <td>{{ fila[4] }}</td>
        <td>{{ fila[5] }}</td>
        <!-- Otros datos de fila según tus datos -->
      </tr>
    {% endfor %}
  </table>

  {% endblock %}
  

</body>
</html>
