{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Bienvenido a ENVAPERU SAC</h1>
  <p class="lead">Tu solución confiable en envases y embalajes.</p>
  <hr class="my-4">
  <p>Explora nuestros productos y servicios.</p>
  <a class="btn btn-primary btn-lg" href="/consulta1" role="button">Productos Más Vendidos</a>
  <a class="btn btn-secondary btn-lg" href="/consulta2" role="button">Análisis de Rentabilidad</a>
  <a class="btn btn-success btn-lg" href="/consulta3" role="button">Uso de Materia Prima</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Sobre Nosotros</h2>
      <p>Conoce más sobre ENVAPERU SAC, nuestra historia, misión y visión.</p>
      <a class="btn btn-outline-secondary" href="#">Ver detalles</a>
    </div>
    <div class="col-md-4">
      <h2>Nuestros Productos</h2>
      <p>Explora nuestra amplia gama de productos innovadores y de alta calidad.</p>
      <a class="btn btn-outline-secondary" href="#">Ver productos</a>
    </div>
    <div class="col-md-4">
      <h2>Contacto</h2>
      <p>¿Tienes preguntas? Ponte en contacto con nosotros para más información.</p>
      <a class="btn btn-outline-secondary" href="#">Contactar</a>
    </div>
  </div>
</div>
{% endblock %}
